#----------------------------------
# JS
#----------------------------------
**/node_modules
yarn.lock
package-lock.json
build

#----------------------------------
# Editor Tools and etc
#----------------------------------
.DS_Store
*.pptx
*.xlsx